<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Item Claim Boxes Logs") %></h1>
	</div>
	<%- include("partials/adminReportForm", { servers, from, to, serverId, accountDBID }) -%>
	<section class="section">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<section>
							<table class="table table-hover data-table-desc mt-5">
								<thead>
									<tr>
										<th><%= __("Log time") %></th>
										<th><%= __("Box ID") %></th>
										<th><%= __("Account ID") %></th>
										<th><%= __("Server ID") %></th>
										<th><%= __("Character ID") %></th>
										<th><%= __("Title") %></th>
										<th><%= __("Item template ID") %> (<%= __("Count").toLowerCase() %>)</th>
									</tr>
								</thead>
								<tbody>
									<%_ logs.forEach(log => { _%>
									<%_ const context = JSON.parse(log.get("context")) _%>
									<tr>
										<td><%= moment(log.get("createdAt")).tz(user.tz).format("YYYY-MM-DD HH:mm:ss") %></td>
										<td><%= log.get("logId") %></td>
										<td><%= log.get("accountDBID") %></td>
										<td><%= log.get("serverId") || "-" %></td>
										<td><%= log.get("characterId") || "-" %></td>
										<td><%= context.title %></td>
										<td><%= context.items.map(item => `${item.item_template_id} (${item.item_count})`).join(", ") %></td>
									</tr>
									<%_ }) _%>
								</tbody>
							</table>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>