<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Shop Promocode Strings") %></h1>
	</div>
	<section class="section">
		<form class="form-inline" action="" method="GET">
			<div class="form-group">
				<label for="promoCodeId"><%= __("Promocode ID") %></label>
				<input type="number" class="form-control boxed" name="promoCodeId" value="<%= promoCodeId %>">
			</div>
			<button type="submit" class="btn btn-primary"><%= __("Show") %></button>
		</form>
	</section>
	<section class="section">
		<a class="btn btn-success" title="" href="/promocode_strings/add?promoCodeId=<%= promoCodeId %>"><%= __("Add new promocode string") %></a>
	</section>
	<section class="section">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<section>
							<div class="table">
							<table class="table table-hover data-table-nosort">
								<thead>
									<tr>
										<th><%= __("ID") %></th>
										<th><%= __("Language") %></th>
										<th><%= __("Promocode ID") %></th>
										<th><%= __("Promocode") %></th>
										<th><%= __("Description string") %></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<% strings.forEach(string => { %>
									<tr>
										<td><%= string.get("id") %></td>
										<td><%= string.get("language") %></td>
										<td><%= string.get("promoCodeId") %></td>
										<td><%= string.get("promoCode") %></td>
										<td><%= string.get("description") %></td>
										<td class="text-right">
											<a class="btn btn-secondary btn-sm" href="/promocode_strings/edit?id=<%= string.get("id") %>"><i class="fa fa-pencil"></i></a>
											<a class="btn btn-secondary btn-sm" href="/promocode_strings/delete?id=<%= string.get("id") %>" data-toggle="modal" data-target="#confirm-del-modal"><i class="fa fa-trash-o "></i></a>
										</td>
									</tr>
									<% }) %>
								</tbody>
							</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>