<%- contentFor("content") %>
<article class="content dashboard-page">
	<section class="section">
		<div class="row">
			<div class="col-md-6">
				<section class="section">
					<div class="card stats">
						<div class="card-block">
							<div class="title-block">
								<h4 class="title"><%= __("Servers Stats") %></h4>
							</div>
							<%_ if (servers === null || servers.length === 0) { _%>
							<div class="row stats-col">
								<div class="col-12 col-md-4 stat-col">
									<%= __("No data available in table") %>
								</div>
							</div>
							<%_ } else { _%>
							<%_ servers.forEach(server => { _%>
							<div class="row stats-col">
								<div class="col-6 col-md-4 stat-col">
									<div class="stat-icon">
										<i class="fa fa-desktop"></i>
									</div>
									<div class="stat">
										<div class="value"><%= server.get("nameString") %></div>
										<div class="name"><%= server.get("loginIp") %>:<%= server.get("loginPort") %></div>
									</div>
								</div>
								<div class="col-6 col-md-4 stat-col">
									<div class="stat-icon">
										<i class="fa fa-users"></i>
									</div>
									<div class="stat">
										<div class="value"><%= server.get("usersTotal") %></div>
										<div class="name"><%= __("Registred Users") %></div>
									</div>
								</div>
								<div class="col-6 col-md-4 stat-col">
									<div class="stat-icon">
										<i class="fa fa-sitemap"></i>
									</div>
									<div class="stat">
										<div class="value"><%= server.get("usersOnline") %></div>
										<div class="name"><%= __("Online Users") %></div>
									</div>
									<div class="progress stat-progress">
										<div class="progress-bar" <%- `style="width: ${Math.floor((server.get("usersOnline") / server.get("tresholdMedium")) * 100)}%;"` %>></div>
									</div>
								</div>
							</div>
							<%_ }) _%>
							<%_ } _%>
						</div>
					</div>
				</section><!--/stats-->
				<%_ if (activityReport !== null) { _%>
				<section class="section">
					<div class="card">
						<div class="card-block">
							<div class="title-block">
								<h4 class="title"><%= __("Activity Report") %> <a class="ml-2 btn btn-sm btn-secondary" href="/report_activity"><%= __("Show full report") %></a></h4>
							</div>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th><%= __("Report time") %></th>
											<th><%= __("Action (playtime)") %></th>
											<th><%= __("Client IP") %></th>
											<th><%= __("Account ID") %></th>
											<th><%= __("Server ID") %></th>
										</tr>
									</thead>
									<tbody>
										<%_ if (activityReport.length === 0) { _%>
										<tr><td colspan="5" class="text-center"><%= __("No data available in table") %></td></tr>
										<%_ } else { _%>
										<%_ activityReport.forEach(report => { _%>
										<tr>
											<td><%= moment(report.get("reportTime")).tz(user.tz).format("YYYY-MM-DD HH:mm") %></td>
											<td><%= report.get("reportType") == 2 ?
												`${__("Leave game")} (${(report.get("playTime") / 60).toFixed(2)} ${__("min.")})` :
												__("Enter game")
											%></td>
											<td><%= report.get("ip") %></td>
											<td><%= report.get("accountDBID") %></td>
											<td><%= report.get("serverId") %></td>
										</tr>
										<%_ }) _%>
										<%_ } _%>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section><!--/report-->
				<%_ } _%>
			</div> <!--/col-->
			<div class="col-md-6">
				<%_ if (payLogs !== null) { _%>
				<section class="section">
					<div class="card">
						<div class="card-block">
							<div class="title-block">
								<h4 class="title"><%= __("Shop Pay Logs") %> <a class="ml-2 btn btn-sm btn-secondary" href="/shop_pay_logs"><%= __("Show full log") %></a></h4>
							</div>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th><%= __("Log time") %></th>
											<th><%= __("Account ID") %></th>
											<th><%= __("Server ID") %></th>
											<th><%= __("Product ID") %></th>
											<th><%= __("Price") %></th>
											<th><%= __("Status") %></th>
										</tr>
									</thead>
									<tbody>
										<%_ if (payLogs.length === 0) { _%>
										<tr><td colspan="6" class="text-center"><%= __("No data available in table") %></td></tr>
										<%_ } else { _%>
										<%_ payLogs.forEach(log => { _%>
										<tr>
											<td><%= moment(log.get("createdAt")).tz(user.tz).format("YYYY-MM-DD HH:mm") %></td>
											<td><%= log.get("accountDBID") %></td>
											<td><%= log.get("serverId") %></td>
											<td><a href="/shop_products/edit?id=<%= log.get("productId") %>"><%= log.get("productId") %></a></td>
											<td><%= log.get("price") %></td>
											<td class="text-<%= log.get("status") == "completed" ? "success" : "danger" %>"><%= __(log.get("status")) %></td>
										</tr>
										<%_ }) _%>
										<%_ } _%>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section><!--/report-->
				<%_ } _%>
			</div> <!--/col-->
		</div> <!--/row-->
	</section>
	<section class="section">
		<div class="row">
			<div class="col-md-12">
				<%_ if (cheatsReport !== null) { _%>
				<section class="section">
					<div class="card">
						<div class="card-block">
							<div class="title-block">
								<h4 class="title"><%= __("Cheats Report") %> <a class="ml-2 btn btn-sm btn-secondary" href="/report_cheats"><%= __("Show full report") %></a></h4>
							</div>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th><%= __("Report time") %></th>
											<th><%= __("Account ID") %></th>
											<th><%= __("Name") %></th>
											<th><%= __("Skill") %></th>
											<th><%= __("Location") %></th>
											<th><%= __("Client IP") %></th>
											<th><%= __("Server ID") %></th>
										</tr>
									</thead>
									<tbody>
										<%_ if (cheatsReport.length === 0) { _%>
										<tr><td colspan="7" class="text-center"><%= __("No data available in table") %></td></tr>
										<%_ } else { _%>
										<%_ cheatsReport.forEach(report => { 
											const [account, name, a, b, skill, zoneId, x, y, z, huntingZoneId, templateId] = report.get("cheatInfo").split(",");

											const dungeon = datasheets.StrSheet_Dungeon[locale].get(Number(huntingZoneId));
											const creature = datasheets.StrSheet_Creature[locale].find(
												c => c.huntingZoneId == huntingZoneId && c.templateId == templateId
											);
										_%>
										<tr>
											<td><%= moment(report.get("reportTime")).tz(user.tz).format("YYYY-MM-DD HH:mm") %></td>
											<td><%= report.get("accountDBID") %></td>
											<td><%= name %></td>
											<td><%= skill %> <%= a %>/<%= b %></td>
											<td>(<%= huntingZoneId %>) <%= dungeon || huntingZoneId %><br>
												(<%= templateId %>) <%= creature.name || templateId %><br>
												<%= x %>, <%= y %>, <%= z %>
											</td>
											<td><%= report.get("ip") %></td>
											<td><%= report.get("serverId") %></td>
										</tr>
										<%_ }) _%>
										<%_ } _%>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section><!--/report-->
				<%_ } _%>
			</div>
		</div>
	</section>
</article>