<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Cheats Report") %></h1>
	</div>
	<%- include("partials/adminReportForm", { servers, from, to, serverId, accountDBID }) -%>
	<section class="section">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<section>
							<table class="table table-hover data-table-desc mt-5">
								<thead>
									<tr>
										<th><%= __("Report time") %></th>
										<th><%= __("Account ID") %></th>
										<th><%= __("Name") %></th>
										<th><%= __("Skill") %></th>
										<th><%= __("Location") %></th>
										<th><%= __("Client IP") %></th>
										<th><%= __("Server ID") %></th>
									</tr>
								</thead>
								<tbody>
									<%_ reports.forEach(report => {
										const [account, name, a, b, skill, zoneId, x, y, z, huntingZoneId, templateId] = report.get("cheatInfo").split(",");

										const dungeon = datasheets.StrSheet_Dungeon[locale].get(Number(huntingZoneId));
										const creature = datasheets.StrSheet_Creature[locale].find(
											c => c.huntingZoneId == huntingZoneId && c.templateId == templateId
										);
									_%>
									<tr>
										<td><%= moment(report.get("reportTime")).tz(user.tz).format("YYYY-MM-DD HH:mm") %></td>
										<td><%= report.get("accountDBID") %></td>
										<td><%= name %></td>
										<td><%= skill %> <%= a %>/<%= b %></td>
										<td>(<%= huntingZoneId %>) <%= dungeon || huntingZoneId %><br>
											(<%= templateId %>) <%= creature.name || templateId %><br>
											<%= x %>, <%= y %>, <%= z %>
										</td>
										<td><%= report.get("ip") %></td>
										<td><%= report.get("serverId") %></td>
									</tr>
									<%_ }) _%>
								</tbody>
							</table>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>