<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Shop Activated Promocodes") %></h1>
	</div>
	<section class="section">
		<form class="form-inline" action="" method="GET">
			<div class="form-group">
				<label for="accountDBID"><%= __("Account ID") %></label>
				<input type="number" class="form-control boxed" name="accountDBID" value="<%= accountDBID %>">
			</div>
			<div class="form-group">
				<label for="promoCodeId"><%= __("Promocode ID") %></label>
				<input type="number" class="form-control boxed" name="promoCodeId" value="<%= promoCodeId %>">
			</div>
			<button type="submit" class="btn btn-primary"><%= __("Show") %></button>
		</form>
	</section>
	<section class="section">
		<a class="btn btn-warning" title="" href="/promocodes_activated/add?promoCodeId=<%= promoCodeId %>&amp;accountDBID=<%= accountDBID %>"><%= __("Activate promocode") %></a>
	</section>
	<% if (promocodes === null) { %>
	<section class="section">
		<div class="alert alert-info">
			<%= __("Please enter account ID or promocode ID.") %>
		</div>
	</section>
	<% } else { %>
	<section class="section">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<section>
							<div class="table-responsive">
								<table class="table table-hover data-table-nosort">
									<thead>
										<tr>
											<th><%= __("ID") %></th>
											<th><%= __("Promocode ID") %></th>
											<th><%= __("Promocode") %></th>
											<th><%= __("Account ID") %></th>
											<th><%= __("Activation time") %></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<% promocodes.forEach(activated => { %>
										<tr>
											<td><%= activated.get("id") %></td>
											<td><%= activated.get("promoCodeId") %></td>
											<td><%= activated.get("promoCode") %></td>
											<td><%= activated.get("accountDBID") %></td>
											<td><%= moment(activated.get("createdAt")).format("YYYY-MM-DD HH:mm:ss") %></td>
											<td class="text-right">
												<a class="btn btn-secondary btn-sm" href="/promocodes_activated/delete?id=<%= activated.get("id") %>" data-toggle="modal" data-target="#confirm-del-modal"><i class="fa fa-trash-o "></i></a>
											</td>
										</tr>
										<% }) %>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
	<% } %>
</article>