<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Shop Pay Logs") %></h1>
	</div>
	<%- include("partials/adminReportForm", { servers, from, to, serverId, accountDBID }) %>
	<section class="section">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<section>
							<table class="table table-hover data-table-desc">
								<thead>
									<tr>
										<th><%= __("Log time") %></th>
										<th><%= __("Account ID") %></th>
										<th><%= __("Server ID") %></th>
										<th><%= __("Product ID") %></th>
										<th><%= __("Box ID") %></th>
										<th><%= __("Price") %></th>
										<th><%= __("Status") %></th>
										<th><%= __("Updated") %></th>
									</tr>
								</thead>
								<tbody>
									<% logs.forEach(log => { %>
									<tr>
										<td><%= moment(log.get("createdAt")).format("YYYY-MM-DD HH:MM:ss") %></td>
										<td><%= log.get("accountDBID") %></td>
										<td><%= log.get("serverId") %></td>
										<td><a href="/shop_products/edit?id=<%= log.get("productId") %>"><%= log.get("productId") %></a></td>
										<td><%= log.get("boxId") || "-" %></td>
										<td><%= log.get("price") %></td>
										<td class="text-<%= log.get("status") == "completed" ? "success" : "danger" %>"><%= log.get("status") %></td>
										<td><%= moment(log.get("updatedAt")).format("YYYY-MM-DD HH:MM:ss") %></td>
									</tr>
									<% }) %>
								</tbody>
							</table>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>