<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Add Account") %></h1>
	</div>
	<section class="section">
		<a class="btn btn-secondary" title="" href="/accounts"><i class="fa fa-chevron-left"></i> <%= __("Back to list") %></a>
	</section>
	<section class="section">
		<div class="row">
			<div class="col form">
				<div class="card card-block">
					<form id="form" method="POST" action="">
						<%- include("partials/adminFormErrors", { errors }) %>
						<div class="title-block">
							<h3 class="title"><%= __("Account Information") %></h3>
						</div>
						<div class="form-group">
							<label class="control-label" for="userName"><%= __("Name") %></label>
							<input type="text" class="form-control boxed" name="userName" value="<%= userName %>">
						</div>
						<div class="form-group">
							<label class="control-label" for="passWord"><%= __("Password") %></label>
							<input type="text" class="form-control boxed" name="passWord" value="<%= passWord %>">
						</div>
						<div class="form-group">
							<label class="control-label" for="email"><%= __("Email") %></label>
							<input type="email" class="form-control boxed" name="email" value="<%= email %>">
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<label class="control-label" for="permission"><%= __("Permission") %></label>
								<input type="number" class="form-control boxed" name="permission" value="<%= permission %>">
							</div>
							<div class="col-sm-6">
								<label class="control-label" for="privilege"><%= __("Privilege") %></label>
								<input type="number" class="form-control boxed" name="privilege" value="<%= permission %>">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<label>
									<button type="button" class="btn btn-secondary" id="permission-ban"><i class="fa fa-ban"></i> <%= __("Ban account") %></button>
								</label>
								<label>
									<button type="button" class="btn btn-secondary" id="permission-reset"><i class="fa fa-refresh"></i> <%= __("Reset") %></button>
								</label>
							</div>
							<div class="col-sm-6">
								<label>
									<button type="button" class="btn btn-secondary" id="privilege-gm"><i class="fa fa-shield"></i> <%= __("Set GM") %></button>
								</label>
								<label>
									<button type="button" class="btn btn-secondary" id="privilege-qa"><i class="fa fa-wrench"></i> <%= __("Set QA") %></button>
								</label>
								<label>
									<button type="button" class="btn btn-secondary" id="privilege-reset"><i class="fa fa-refresh"></i> <%= __("Reset") %></button>
								</label>
							</div>
						</div>
						<div class="title-block">
							<h3 class="title"><%= __("Account Benefits") %></h3>
						</div>
						<div id="benefits">
							<% benefitIds.forEach((benefitId, i) => { if (benefitId) { %>
							<div class="form-group row">
								<div class="col-sm-6">
									<label class="control-label" for="benefitIds[]">
										<%= __("Benefit ID") %>
										<a class="btn btn-secondary btn-sm remove-benefit" title="" href="#"><i class="fa fa-minus"></i></a>
									</label>
									<select class="form-control boxed" name="benefitIds[]">
										<option value="">- <%= __("None") %> -</option>
									<% accountBenefits.forEach((string, id) => { %>
										<option value="<%= id %>" <%= benefitId == id ? 'selected' : "" %>>(<%= id %>) <%= string %></option>
									<% }) %>
									</select>
								</div>
								<div class="col-sm-6">
									<label class="control-label" for="availableUntils[]"><%= __("Available until") %></label>
									<input type="datetime-local" class="form-control boxed mt-2" name="availableUntils[]" value="<%= availableUntils[i] %>">
								</div>
							</div>
							<% } }) %>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-secondary" id="add-benefit"><i class="fa fa-plus"></i> <%= __("Add benefit") %></button>
						</div>
						<div class="form-group row"></div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary"><%= __("Add") %></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</article>
<%- contentFor("scripts") %>
<script>
	$(function() {
		$("#permission-ban").click(function() {
			$("input[name='permission']").val("1");
		});
		$("#permission-reset").click(function() {
			$("input[name='permission']").val("0");
		});
		$("#privilege-gm").click(function() {
			$("input[name='privilege']").val("33");
		});
		$("#privilege-qa").click(function() {
			$("input[name='privilege']").val("<%= process.env.API_PORTAL_LAUNCHER_QA_PRIVILEGE %>");
		});
		$("#privilege-reset").click(function() {
			$("input[name='privilege']").val("0");
		});
		$(".remove-benefit").click(function() {
			$(this).closest(".row").remove();
		});
		$("#add-benefit").click(function() {
			$("#benefits").append(
				"<div class='form-group row'>" +
				"	<div class='col-sm-6'>" +
				"		<label class='control-label' for='benefitIds[]'>" +
				"			<%= __('Benefit ID') %>" +
				"			<a class='btn btn-secondary btn-sm remove-benefit' title='' href='#''><i class='fa fa-minus'></i></a></label>" +
				"		<select class='form-control boxed' name='benefitIds[]'>" +
				"			<option value=''>- <%= __('None') %> -</option>" +
				"			<% accountBenefits.forEach((string, id) => { %><option value='<%= id %>'>(<%= id %>) <%= string %></option><% }) %>" +
				"		</select>" +
				"	</div>" +
				"	<div class='col-sm-6'>" +
				"		<label class='control-label' for='availableUntils[]'><%= __('Available until') %></label>" +
				"		<input type='datetime-local' class='form-control boxed mt-2' name='availableUntils[]' value='<%= moment().subtract(30, 'days').format('YYYY-MM-DDTHH:MM') %>'>" +
				"	</div>" +
				"</div>"
			);
			$(".remove-benefit").click(function() {
				$(this).closest(".row").remove();
			});
		});
	});
</script>