<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Add Shop Product") %></h1>
	</div>
	<section class="section">
		<a class="btn btn-secondary history-back" title="" href="#"><i class="fa fa-chevron-left"></i> <%= __("Back to list") %></a>
	</section>
	<section class="section">
		<div class="row">
			<div class="col form">
				<div class="card card-block">
					<form id="form">
						<div class="alert alert-danger" id="errors" style="display: none;"></div>
						<div class="title-block">
							<h3 class="title"><%= __("Product Information") %></h3>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<label class="control-label" for="price"><%= __("Price") %></label>
								<input type="number" class="form-control boxed" name="price" value="0">
							</div>
							<div class="col-sm-6">
								<label class="control-label" for="userName"><%= __("Category ID") %></label>
								<select class="form-control boxed" name="categoryId">
								<%_ categories.forEach(category => { _%>
									<option value="<%= category.get("id") %>">(<%= category.get("id") %>) <%= category.get("strings")[0]?.get("title") || __("[unknown]") %></option>
								<%_ }) _%>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<label class="control-label" for="validAfter"><%= __("Valid from") %></label>
								<input type="datetime-local" class="form-control boxed" name="validAfter" value="<%= moment().tz(user.tz).format("YYYY-MM-DDTHH:mm") %>">
							</div>
							<div class="col-sm-6">
								<label class="control-label" for="validBefore"><%= __("Valid to") %></label>
								<input type="datetime-local" class="form-control boxed" name="validBefore" value="<%= moment().add(3600, "days").tz(user.tz).format("YYYY-MM-DDTHH:mm") %>">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<label>
									<input type="checkbox" class="checkbox" name="active" checked="checked">
									<span><%= __("Active") %></span>
								</label>
							</div>
							<div class="col-sm-6">
								<label class="control-label" for="sort"><%= __("Sort") %></label>
								<input type="number" class="form-control boxed" name="sort" value="0">
							</div>
						</div>
						<div class="title-block">
							<h3 class="title"><%= __("Product Items") %></h3>
						</div>
						<div id="items">
							<div class="form-group row">
								<div class="col-sm-6">
									<label class="control-label" for="itemTemplateIds[]">
										<%= __("Item template ID") %>
										<a class="btn btn-secondary btn-sm remove-item" title="" href="#"><i class="fa fa-minus"></i></a>
									</label>
									<input type="text" class="form-control boxed" name="itemTemplateIds[]" value="">
								</div>
								<div class="col-sm-2">
									<label class="control-label" for="boxItemCounts[]"><%= __("Count") %></label>
									<input type="number" class="form-control boxed mt-2" name="boxItemCounts[]" value="1">
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="boxItemIds[]"><%= __("Service item ID") %></label>
									<input type="number" class="form-control boxed mt-2" name="boxItemIds[]" value="" placeholder="<%= __("optional") %>">
								</div>
							</div>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-secondary" id="add-item"><i class="fa fa-plus"></i> <%= __("Add item") %></button>
						</div>
						<div class="form-group row"></div>
						<div class="title-block">
							<h3 class="title">
								<%= __("Additional Information") %>
								<a class="btn btn-secondary btn-sm" id="add-info-off" title="" href="#" style="display: none;"><i class="fa fa-chevron-up"></i></a>
								<a class="btn btn-secondary btn-sm" id="add-info-on" title="" href="#"><i class="fa fa-chevron-down"></i></a>
							</h3>
						</div>
						<div id="add-info" style="display: none;">
							<div class="form-group row">
								<div class="col-sm-6">
									<label class="control-label" for="icon"><%= __("Icon") %> <span class="text-secondary">(<%= __("example") %>: gift_box01_tex)</span></label>
									<input type="text" class="form-control boxed" name="icon" value="" placeholder="<%= __("optional") %>">
								</div>
								<div class="col-sm-6">
									<label class="control-label" for="rareGrade"><%= __("Rare grade") %></label>
									<select class="form-control boxed" name="rareGrade">
										<option value="">- <%= __("None") %> -</option>
										<option value="0" class="item-grade-0">(0) <%= __("Common") %></option>
										<option value="1" class="item-grade-1">(1) <%= __("Uncommon") %></option>
										<option value="2" class="item-grade-2">(2) <%= __("Rare") %></option>
										<option value="3" class="item-grade-3">(3) <%= __("Superior") %></option>
										<option value="4" class="item-grade-4">(4) <%= __("Mythic") %></option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-6">
									<div id="itemIcons"></div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label"><%= __("Title") %></label>
								<%_ shopLocales.forEach(shopLocale => { _%>
								<div class="form-group row">
									<div class="col-sm-2 mt-2">
										<label for="title[<%= shopLocale %>]" class="control-label"><small><%= __(shopLocale) %></small></label>
									</div>
									<div class="col-sm-10">
										<input type="text" class="form-control boxed" name="title[<%= shopLocale %>]" value="" placeholder="<%= __("optional") %>">
									</div>
								</div>
								<%_ }) _%>
							</div>
							<div class="form-group">
								<label class="control-label"><%= __("Description") %></label>
								<%_ shopLocales.forEach(shopLocale => { _%>
								<div class="form-group row">
									<div class="col-sm-2 mt-2">
										<label for="description[<%= shopLocale %>]" class="control-label"><small><%= __(shopLocale) %></small></label>
									</div>
									<div class="col-sm-10">
										<input type="text" class="form-control boxed" name="description[<%= shopLocale %>]" value="" placeholder="<%= __("optional") %>">
									</div>
								</div>
								<%_ }) _%>
							</div>
							<div class="form-group row"></div>
							<div class="form-group alert alert-secondary">
								<%= __("If additional information is not set, the information for the product will be taken from the first item added.") %>
							</div>
							<div class="form-group row"></div>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-primary" id="submit"><%= __("Add") %></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</article>
<%- contentFor("scripts") %>
<script>
	$(function() {
		$("#add-info-on").click(function() {
			$("#add-info").slideDown("fast");
			$("#add-info-off").show();
			$(this).hide();
		});
		$("#add-info-off").click(function() {
			$("#add-info").slideUp("fast");
			$("#add-info-on").show();
			$(this).hide();
		});
		function onItemAdded() {
			$('input[name="itemTemplateIds[]"]').change(function() {
				$(this).closest('.row').find('input[name="boxItemIds[]"]').val('');
			});
			$(".remove-item").click(function () {
				var row = $(this).closest(".row");
				let itemTemplateId = row.find('input[name="itemTemplateIds[]"]').val();
				row.remove();
				$("label[data-id='" + itemTemplateId + "']").remove();
			});
		}
		onItemAdded();
		$("#add-item").click(function() {
			$("#items").append(
				"<div class='form-group row'>" +
				"	<div class='col-sm-6'>" +
				"		<label class='control-label' for='itemTemplateIds[]'>" +
				"			<%= __('Item template ID') %>" +
				"			<a class='btn btn-secondary btn-sm remove-item' title='' href='#'><i class='fa fa-minus'></i></a>" +
				"		</label>" +
				"		<input type='text' class='form-control boxed' name='itemTemplateIds[]' value=''>" +
				"	</div>" +
				"	<div class='col-sm-2'>" +
				"		<label class='control-label' for='boxItemCounts[]'><%= __('Count') %></label>" +
				"		<input type='number' class='form-control boxed mt-2' name='boxItemCounts[]' value='1'>" +
				"	</div>" +
				"	<div class='col-sm-4'>" +
				"		<label class='control-label' for='boxItemIds[]'><%= __('Service item ID') %></label>" +
				"		<input type='number' class='form-control boxed mt-2' name='boxItemIds[]' value='' placeholder='<%= __('optional') %>'>" +
				"	</div>" +
				"</div>"
			);
			onItemAdded();
			addAutocomplete();
		});
		$("#submit").click(function() {
			onFormSubmit(location);
		});
	});
</script>