<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Shop Promo Codes") %></h1>
	</div>
	<section class="section">
		<a class="btn btn-success" title="" href="/promocodes/add"><%= __("Create new promo code") %></a>
	</section>
	<section class="section">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<section>
							<div class="table-responsive">
								<table class="table table-hover data-table-nosort mt-5">
									<thead>
										<tr>
											<th><%= __("ID") %></th>
											<th><%= __("Promo code") %></th>
											<th><%= __("Description") %> (<%= locale %>)</th>
											<th><%= __("Assigned function") %></th>
											<th><%= __("Active") %></th>
											<th><%= __("Valid from") %></th>
											<th><%= __("Valid to") %></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<%_ promocodes.forEach(promocode => { _%>
										<tr>
											<td><%= promocode.get("promoCodeId") %></td>
											<td><%= promocode.get("promoCode") %></td>
											<td><%= promocode.get("strings")?.get("description") || "-" %></td>
											<td><%= promocode.get("function") %></td>
											<td><%= promocode.get("active") ? __("Yes") : __("No") %></td>
											<td><%= moment(promocode.get("validAfter")).tz(user.tz).format("YYYY-MM-DD HH:mm") %></td>
											<td><%= moment(promocode.get("validBefore")).tz(user.tz).format("YYYY-MM-DD HH:mm") %></td>
											<td class="text-right text-nowrap">
												<!--a class="btn btn-secondary btn-sm" href="/promocode_strings?promoCodeId=<%= promocode.get("promoCodeId") %>"><i class="fa fa-bars"></i></a-->
												<a class="btn btn-secondary btn-sm" href="/promocodes/edit?promoCodeId=<%= promocode.get("promoCodeId") %>"><i class="fa fa-pencil"></i></a>
												<a class="btn btn-secondary btn-sm" href="/promocodes/delete?promoCodeId=<%= promocode.get("promoCodeId") %>" data-toggle="modal" data-target="#confirm-del-modal"><i class="fa fa-trash-o "></i></a>
											</td>
										</tr>
										<%_ }) _%>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>