<%
const reportType = {
	1: __("Create"),
	2: __("Edit"),
	3: __("Delete")
};
const genderId = [
	__("Male"),
	__("Female")
];
const raceId = [
	__("Human"),
	__("High Elf"),
	__("Aman"),
	__("Castanic"),
	__("Popori"),
	__("Baraka"),
	__("Elin")
];
const classId = [
	__("Warrior"),
	__("Lancer"),
	__("Slayer"),
	__("Berserker"),
	__("Sorcerer"),
	__("Archer"),
	__("Priest"),
	__("Mystic"),
	__("Reaper"),
	__("Gunner"),
	__("Brawler"),
	__("Ninja"),
	__("Valkyrie")
];
%>
<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Characters Report") %></h1>
	</div>
	<%- include("partials/adminReportForm", { servers, from, to, serverId, accountDBID }) %>
	<section class="section">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<section>
							<table class="table table-hover data-table-desc">
								<thead>
									<tr>
										<th><%= __("Report time") %></th>
										<th><%= __("Action") %></th>
										<th><%= __("ID") %></th>
										<th><%= __("Name") %></th>
										<th><%= __("Level") %></th>
										<th><%= __("Race") %></th>
										<th><%= __("Gender") %></th>
										<th><%= __("Class") %></th>
										<th><%= __("Account ID") %></th>
										<th><%= __("Server ID") %></th>
									</tr>
								</thead>
								<tbody>
									<% reports.forEach(report => { %>
									<tr>
										<td><%= moment(report.get("reportTime")).format("YYYY-MM-DD HH:mm:ss") %></td>
										<td><%= reportType[report.get("reportType")] %></td>
										<td><%= report.get("characterId") %></td>
										<td><%= report.get("name") || "-" %></td>
										<td><%= report.get("level") || "-" %></td>
										<td><%= raceId[report.get("raceId") == 4 && report.get("genderId") == 1 ? 6 : report.get("raceId")] || "-" %></td>
										<td><%= genderId[report.get("genderId")] || "-" %></td>
										<td><%= classId[report.get("classId")] || "-" %></td>
										<td><%= report.get("accountDBID") %></td>
										<td><%= report.get("serverId") %></td>
									</tr>
									<% }) %>
								</tbody>
							</table>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>