<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Add Server Maintenance Plan") %></h1>
	</div>
	<section class="section">
		<a class="btn btn-secondary history-back" title="" href="#"><i class="fa fa-chevron-left"></i> <%= __("Back to list") %></a>
	</section>
	<section class="section">
		<div class="row">
			<div class="col form">
				<div class="card card-block">
					<form id="form" method="POST" action="">
						<%- include("partials/adminFormErrors", { errors }) -%>
						<div class="form-group row">
							<div class="col-sm-6">
								<label class="control-label" for="startTime"><%= __("Start time") %></label>
								<input type="datetime-local" class="form-control boxed" name="startTime" value="<%= startTime.tz(user.tz).format("YYYY-MM-DDTHH:mm") %>">
							</div>
							<div class="col-sm-6">
								<label class="control-label" for="endTime"><%= __("End time") %></label>
								<input type="datetime-local" class="form-control boxed" name="endTime" value="<%= endTime.tz(user.tz).format("YYYY-MM-DDTHH:mm") %>">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="description"><%= __("Description") %></label>
							<textarea type="text" class="form-control boxed" name="description" placeholder="<%= __("optional") %>"><%= description %></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary"><%= __("Add") %></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</article>