<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Shop Promocodes") %></h1>
	</div>
	<section class="section">
		<a class="btn btn-success" title="" href="promocodeAdd"><%= __("Create new promocode") %></a>
	</section>
	<section class="section">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<section>
							<div class="table">
							<table class="table table-hover data-table-nosort">
								<thead>
									<tr>
										<th><%= __("Promocode ID") %></th>
										<th><%= __("Promocode") %></th>
										<th><%= __("Assigned function") %></th>
										<th><%= __("Active") %></th>
										<th><%= __("Valid from") %></th>
										<th><%= __("Valid to") %></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<% promocodes.forEach(promocode => { %>
									<tr>
										<td><%= promocode.get("promoCodeId") %></td>
										<td><%= promocode.get("promoCode") %></td>
										<td><%= promocode.get("function") %></td>
										<td><%= promocode.get("active") ? __("Yes") : __("No") %></td>
										<td><%= moment(promocode.get("validAfter")).format("YYYY-MM-DD HH:MM:ss") %></td>
										<td><%= moment(promocode.get("validBefore")).format("YYYY-MM-DD HH:MM:ss") %></td>
										<td class="text-right">
											<a class="btn btn-secondary btn-sm" href="promocodeStrings?promocode=<%= promocode.get("promoCodeId") %>"><i class="fa fa-bars"></i></a>
											<a class="btn btn-secondary btn-sm" href="promocodeEdit?id=<%= promocode.get("promoCodeId") %>"><i class="fa fa-pencil"></i></a>
											<a class="btn btn-secondary btn-sm" href="#" data-toggle="modal" data-target="#confirm-modal"><i class="fa fa-trash-o "></i></a>
										</td>
									</tr>
									<% }) %>
								</tbody>
							</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>