<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Activity Report") %></h1>
	</div>
	<%- include("partials/adminReportForm", { servers, from, to, serverId, accountDBID }) %>
	<section class="section">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<section>
							<table class="table table-hover data-table-desc mt-5">
								<thead>
									<tr>
										<th><%= __("Report time") %></th>
										<th><%= __("Action (playtime)") %></th>
										<th><%= __("Client IP") %></th>
										<th><%= __("Account ID") %></th>
										<th><%= __("Server ID") %></th>
									</tr>
								</thead>
								<tbody>
									<% reports.forEach(report => { %>
									<tr>
										<td><%= moment(report.get("reportTime")).format("YYYY-MM-DD HH:mm:ss") %></td>
										<td><%= report.get("reportType") == 2 ?
											`${__("Leave game")} (${(report.get("playTime") / 60).toFixed(2)} ${__("min.")})` :
											__("Enter game")
										%></td>
										<td><%= report.get("ip") %></td>
										<td><%= report.get("accountDBID") %></td>
										<td><%= report.get("serverId") %></td>
									</tr>
									<% }) %>
								</tbody>
							</table>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>