<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Accounts") %></h1>
	</div>
	<section class="section">
		<a class="btn btn-success" title="" href="/accounts/add"><%= __("Create new account") %></a>
	</section>
	<section class="section">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<section>
							<div class="table-responsive">
								<table class="table table-hover data-table-nosort mt-5">
									<thead>
										<tr>
											<th><%= __("ID") %></th>
											<th><%= __("User name") %></th>
											<th><%= __("Registred") %></th>
											<th><%= __("Permission") %></th>
											<th><%= __("Privilege") %></th>
											<th><%= __("Last login") %></th>
											<th><%= __("Last server") %></th>
											<th><%= __("Last IP") %></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<%_ accounts.forEach(account => {
											const banned = moment(account.get("bannedStartTime")) < moment() && moment(account.get("bannedEndTime")) > moment();	
										_%>
										<tr>
											<td><%= account.get("accountDBID") %></td>
											<td><a href="/accounts/edit?accountDBID=<%= account.get("accountDBID") %>"><%= account.get("userName") %></a><%- banned ? ' <i class="fa fa-ban text-danger"></i>' : "" %></a></td>
											<td><%= moment(account.get("registerTime")).format("YYYY-MM-DD HH:mm") %></td>
											<%_ if (account.get("permission") >= 256) { _%>
											<td class="text-primary"><%= account.get("permission") %> (<%= __("MT") %>)</td>
											<%_ } else if (account.get("permission") >= 1) { _%>
											<td class="text-success"><%= account.get("permission") %> (<%= __("PL") %>)</td>
											<%_ } else { _%>
											<td><%= account.get("permission") %></td>
											<%_ } _%>
											<%_ if (account.get("privilege") == 32 || account.get("privilege") == 33) { _%>
											<td class="text-success"><%= account.get("privilege") %> (<%= __("GM") %>)</td>
											<%_ } else { _%>
											<td><%= account.get("privilege") %></td>
											<%_ } _%>
											<td><%= account.get("lastLoginTime") ? moment(account.get("lastLoginTime")).format("YYYY-MM-DD HH:mm") : "-" %></td>
											<td><%= account.get("lastLoginServer") || "-" %></td>
											<td><%= account.get("lastLoginIP") || "-" %></td>
											<td class="text-right">
												<a class="btn btn-secondary btn-sm" href="/benefits?accountDBID=<%= account.get("accountDBID") %>"><i class="fa fa-tags"></i></a>
												<%_ if(account.get("lastLoginServer")) { _%>
												<a class="btn btn-secondary btn-sm" href="/characters?accountDBID=<%= account.get("accountDBID") %>&amp;serverId=<%= account.get("lastLoginServer") %>"><i class="fa fa-user"></i></a>
												<%_ } _%>
												<a class="btn btn-secondary btn-sm" href="/accounts/edit?accountDBID=<%= account.get("accountDBID") %>"><i class="fa fa-pencil"></i></a>
												<a class="btn btn-secondary btn-sm" href="/bans/<%= account.get("bannedStartTime") ? "edit" : "add" %>?accountDBID=<%= account.get("accountDBID") %>"><i class="fa fa-ban"></i></a>
												<a class="btn btn-secondary btn-sm" href="/accounts/delete?accountDBID=<%= account.get("accountDBID") %>" data-toggle="modal" data-target="#confirm-del-modal"><i class="fa fa-trash-o "></i></a>
											</td>
										</tr>
										<%_ }) _%>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>