<%_
const genderId = [
	__("Male"),
	__("Female")
];
const raceId = [
	__("Human"),
	__("High Elf"),
	__("Aman"),
	__("Castanic"),
	__("Popori"),
	__("Baraka"),
	__("Elin")
];
const classId = [
	__("Warrior"),
	__("Lancer"),
	__("Slayer"),
	__("Berserker"),
	__("Sorcerer"),
	__("Archer"),
	__("Priest"),
	__("Mystic"),
	__("Reaper"),
	__("Gunner"),
	__("Brawler"),
	__("Ninja"),
	__("Valkyrie")
];
_%>
<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Account Characters List") %></h1>
	</div>
	<section class="section">
		<form class="form-inline" action="" method="GET">
			<div class="form-group">
				<label for="accountDBID"><%= __("Account ID") %></label>
				<input type="number" class="form-control boxed" name="accountDBID" value="<%= accountDBID %>">
			</div>
			<div class="form-group">
				<label for="serverId"><%= __("Server ID") %></label>
				<select class="form-control boxed" name="serverId">
				<%_ servers.forEach(s => { _%>
					<option value="<%= s.get("serverId") %>" <%= s.get("serverId") == serverId ? "selected" : "" %>>(<%= s.get("serverId") %>) <%= s.get("nameString") %></option>
				<%_ }) _%>
				</select>
			</div>
			<button type="submit" class="btn btn-primary"><%= __("Show") %></button>
		</form>
	</section>
	<%_ if (characters === null) { _%>
	<section class="section">
		<div class="alert alert-info">
			<%= __("Please enter account ID and select the server.") %>
		</div>
	</section>
	<%_ } else { _%>
	<section class="section">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<section>
							<table class="table table-hover data-table">
								<thead>
									<tr>
										<th><%= __("ID") %></th>
										<th><%= __("Name") %></th>
										<th><%= __("Level") %></th>
										<th><%= __("Race") %></th>
										<th><%= __("Gender") %></th>
										<th><%= __("Class") %></th>
										<th><%= __("Account ID") %></th>
										<th><%= __("Server ID") %></th>
									</tr>
								</thead>
								<tbody>
									<%_ characters.forEach(character => { _%>
									<tr>
										<td><%= character.get("characterId") %></td>
										<td><%= character.get("name") || "-" %></td>
										<td><%= character.get("level") || "-" %></td>
										<td><%= raceId[character.get("raceId") == 4 && character.get("genderId") == 1 ? 6 : character.get("raceId")] || "-" %></td>
										<td><%= genderId[character.get("genderId")] || "-" %></td>
										<td><%= classId[character.get("classId")] || "-" %></td>
										<td><%= character.get("accountDBID") %></td>
										<td><%= character.get("serverId") %></td>
									</tr>
									<%_ }) _%>
								</tbody>
							</table>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
	<%_ } _%>
</article>