<%- contentFor("content") %>
<article class="content">
	<div class="title-block">
		<h1 class="title"><%= __("Add Account") %></h1>
	</div>
	<section class="section">
		<a class="btn btn-secondary" title="" href="/accounts"><i class="fa fa-chevron-left"></i> <%= __("Back to list") %></a>
	</section>
	<section class="section">
		<div class="row">
			<div class="col-md-6">
				<div class="card card-block">
					<form id="form" method="POST" action="">
						<%- include("partials/adminFormErrors", { errors }) %>
						<div class="title-block">
							<h3 class="title"><%= __("Account Information") %></h3>
						</div>
						<div class="form-group">
							<label class="control-label" for="userName"><%= __("Name") %></label>
							<input type="text" class="form-control boxed" name="userName" value="<%= userName %>">
						</div>
						<div class="form-group">
							<label class="control-label" for="passWord"><%= __("Password") %></label>
							<input type="text" class="form-control boxed" name="passWord" value="<%= passWord %>">
						</div>
						<div class="form-group">
							<label class="control-label" for="email"><%= __("Email") %></label>
							<input type="email" class="form-control boxed" name="email" value="<%= email %>">
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<label class="control-label" for="permission"><%= __("Permission") %></label>
								<input type="number" class="form-control boxed" name="permission" value="<%= permission %>">
							</div>
							<div class="col-sm-6">
								<label class="control-label" for="privilege"><%= __("Privilege") %></label>
								<input type="number" class="form-control boxed" name="privilege" value="<%= permission %>">
							</div>
						</div>
						<div class="form-group row"></div>
						<div class="title-block">
							<h3 class="title"><%= __("Account Benefits") %></h3>
						</div>
						<div id="benefits">
							<% benefitIds.forEach((benefitId, i) => { if (benefitId) { %>
							<% %>
							<div class="form-group row">
								<div class="col-sm-6">
									<label class="control-label" for="benefitIds[]"><%= __("Benefit ID") %></label>
									<select class="form-control boxed" name="benefitIds[]">
										<option value="">- <%= __("None") %> -</option>
									<% accountBenefits.forEach((string, id) => { %>
										<option value="<%= id %>" <%= benefitId == id ? 'selected' : "" %>>(<%= id %>) <%= string %></option>
									<% }) %>
									</select>
								</div>
								<div class="col-sm-6">
									<label class="control-label" for="availableUntils[]"><%= __("Available until") %></label>
									<input type="datetime-local" class="form-control boxed" name="availableUntils[]" value="<%= availableUntils[i] %>">
								</div>
							</div>
							<% } }) %>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-secondary" id="add-benefit"><i class="fa fa-plus"></i> <%= __("Add benefit") %></button>
						</div>
						<div class="form-group row"></div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary"><%= __("Add") %></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</article>
<%- contentFor("scripts") %>
<script>
	$(function() {
		$("#add-benefit").click(function() {
			$("#benefits").append(
				"<div class='form-group row'>" +
				"	<div class='col-sm-6'>" +
				"		<label class='control-label' for='benefitIds[]'><%= __('Benefit ID') %></label>" +
				"		<select class='form-control boxed' name='benefitIds[]'>" +
				"			<option value=''>- <%= __('None') %> -</option>" +
				"			<% accountBenefits.forEach((string, id) => { %><option value='<%= id %>'>(<%= id %>) <%= string %></option><% }) %>" +
				"		</select>" +
				"	</div>" +
				"	<div class='col-sm-6'>" +
				"		<label class='control-label' for='availableUntils[]'><%= __('Available until') %></label>" +
				"		<input type='datetime-local' class='form-control boxed' name='availableUntils[]' value='<%= moment().subtract(30, 'days').format('YYYY-MM-DDTHH:MM') %>'>" +
				"	</div>" +
				"</div>"
			);
		});
	});
</script>