<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge;">
<title>Login</title>
<link rel="stylesheet" href="/public/launcher/css/login.css">
<link rel="stylesheet" href="/public/launcher/css/buttons-<%= locale %>.css">
<script type="text/javascript" src="/public/launcher/js/jquery-1.11.1.min.js"></script>
<script>
	function resetPasswordVerifyAction(token, code, password, password2) {
		if (password != password2) {
			alert("<%= __('Two password entries do not match.') %>");
			return;
		}

		var result = parent.launcherResetPasswordVerifyAction(token, code, password);

		if (result) {
			if (result.Return) {
				localStorage.VERIFY_TOKEN = null;
				confirm("<%= __('Your password has been successfully changed.') %>")
				document.location.replace("LauncherLoginForm?lang=<%= locale %>");
			} else {
				switch (result.ReturnCode) {
					case 10:
						alert("<%= __('Please enter 8-128 alphanumeric characters password.') %>");
						break;

					case 11:
						alert("<%= __('Invalid verification code.') %>");
						break;

					case 12:
						alert("<%= __('The number of verification code entry attempts has been exceeded.') %>");
						document.location.replace("LauncherLoginForm?lang=<%= locale %>");
						break;

					default:
						alert(result.Msg);
						console.log(result.Msg);
				}
			}
		}
	}

	$(function () {
		$("#loader").hide();
		$("#userResetPasswordVerifyForm").show();

		$("#userResetPasswordVerifyForm").submit(function() {
			resetPasswordVerifyAction(localStorage.VERIFY_TOKEN, $('#code').val(), $('#password').val(), $('#password2').val());
			return false;
		});

		$("#btnToLogin").click(function() {
			document.location.replace("LauncherLoginForm?lang=<%= locale %>");
		});
	});
</script>
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false" style="overflow: hidden;">
<div class="wrap">
	<div class="loader" id="loader"></div>
	<form class="form-horizontal" name="userResetPasswordVerifyForm"  method="post" action="" id="userResetPasswordVerifyForm" style="display: none;">
		<div class="form-group">
			<div class="col">
				<input type="password" class="form-control form-password" id="password" name="password" value="" placeholder="<%= __('New password') %>" maxlength="128" tabindex="2">
			</div>
		</div>
		<div class="form-group">
			<div class="col">
				<input type="password" class="form-control form-password" id="password2" name="password2" value=""  placeholder="<%= __('Confirm password') %>" maxlength="128" tabindex="2">
			</div>
		</div>
		<div class="form-group" style="padding-top: 20px;">
			<div class="col">
				<input type="text" class="form-control form-code" id="code" name="code" value=""  placeholder="<%= __('Verification code') %>" maxlength="128" tabindex="2">
			</div>
		</div>
		<div class="form-group">
			<div class="col" style="text-align: center;">
				<%= __('This code has been sent to your email') %><br>
				<%= email %>
			</div>
		</div>
		<div class="form-group" style="padding-top: 20px;">
			<div class="col" style="text-align: center;">
				<button type="submit" tabindex="3" class="btn-blue"><%= __('Confirm') %></button>
				<br>
				<a href="#" style="text-decoration: underline;" id="btnToLogin"><%= __('Login to another account') %></a>
			</div>
		</div>
	</form>
	<button class="btn-close" onclick="parent.Launcher.sendCommand('close');">Close</button>
</div>
<!--/wrap-->
</body>
</html>