<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge;">
<title>Login</title>
<link rel="stylesheet" href="/public/launcher/css/login.css">
<link rel="stylesheet" href="/public/launcher/css/buttons-<%= locale %>.css">
<script type="text/javascript" src="/public/launcher/js/jquery-1.11.1.min.js"></script>
<%- captcha %>
<script>
	function resetPasswordAction(email, captcha) {
		var result = parent.launcherResetPasswordAction(email, captcha);

		if (result) {
			if (result.Return) {
				localStorage.VERIFY_TOKEN = result.VerifyToken;
				document.location.replace("LauncherResetPasswordVerifyForm?lang=<%= locale %>&token=" + result.VerifyToken);
			} else {
				switch (result.Msg) {
					case "$0":
						alert("<%= __('Please enter valid email address.') %>");
						break;

					case "$1":
						alert("<%= 'This email is not exists.' %>");
						break;

					default:
						alert(result.Msg);
						console.log(result.Msg);
				}
			}
		}
	}

	function bindFormAction(token) {
		$("#loader").hide();
		$("#userResetPasswordForm").show();
		$("#userResetPasswordForm").submit(function() {
			resetPasswordAction($('#email').val(), token);
			return false;
		});
	}
</script>
<%_ if (!captcha) { _%>
<script>
	$(bindFormAction);
</script>
<%_ } _%>
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false" style="overflow: hidden;">
<div class="wrap">
	<div class="loader" id="loader"></div>
	<form class="form-horizontal" name="userResetPasswordForm"  method="post" action="" id="userResetPasswordForm" style="display: none;">
		<div class="form-group" style="padding-top: 70px;">
			<div class="col">
				<input type="text" class="form-control form-email" id="email" name="email" value="" placeholder="<%= __('Enter email') %>" maxlength="30" tabindex="2">
			</div>
		</div>
		<div class="form-group" style="padding-top: 20px;">
			<div class="col">
				<button type="submit" tabindex="3" class="btn-blue"><%= __('Reset Password') %></button>
			</div>
		</div>
	</form>
	<button class="btn-close" onclick="parent.Launcher.sendCommand('close');">Close</button>
</div>
<!--/wrap-->
</body>
</html>