<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge;">
<title>Login</title>
<link rel="stylesheet" href="/public/launcher/css/login.css">
<script type="text/javascript" src="/public/launcher/js/jquery-1.11.1.min.js"></script>
<script>
	var PATCH_URL = "<%= patchUrl %>";
</script>
<script type="text/javascript" src="/public/launcher/js/launcher-util.js"></script>
<script type="text/javascript" src="/public/launcher/js/launcher-errors.js"></script>
<script type="text/javascript" src="/public/launcher/js/launcher.js"></script>
<script>
	function signupVerifyAction(code) {
		var result = LauncherAPI.signupVerifyAction(code);

		if (result) {
			if (result.Return) {
				Launcher.goTo("Main?lang=<%= locale %>", true);
			} else {
				switch (result.ReturnCode) {
					case 10:
						Launcher.showError("<%= __('Invalid verification code.') %>");
						break;
					case 11:
						Launcher.showError("<%= __('The number of verification code entry attempts has been exceeded.') %>");

						setTimeout(function() {
							Launcher.goTo("LoginForm?lang=<%= locale %>");
						}, 3000);
						break;
					default:
						Launcher.showError(result.ReturnCode + ": " + result.Msg);
						console.log(result);
				}
			}
		}
	}

	$(function () {
		$("#userSignupVerifyForm").submit(function() {
			signupVerifyAction($('#code').val());
			return false;
		});

		$("#btnToLogin").click(function() {
			Launcher.goTo("LoginForm?lang=<%= locale %>");
		});

		$(window).on("load", function() {
			Launcher.loaded(320, 570);
		});
	});
</script>
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false" style="overflow: hidden;">
<div class="wrap">
	<div class="msg-modal" id="msg-modal"><span></span></div>
	<form class="form-horizontal" name="userSignupVerifyForm"  method="post" action="" id="userSignupVerifyForm" style="display: none;">
		<div class="form-group" style="padding-top: 70px;">
			<div class="col">
				<input type="text" class="form-control form-code" id="code" name="code" value="" placeholder="<%= __('Verification code') %>" maxlength="128" tabindex="2">
			</div>
		</div>
		<div class="form-group">
			<div class="col" style="text-align: center;">
				<%= __('This code has been sent to your email') %><br>
				<%= email %>
			</div>
		</div>
		<div class="form-group" style="padding-top: 20px;">
			<div class="col" style="text-align: center;">
				<button type="submit" tabindex="3" class="btn-blue"><%= __('Confirm') %></button>
				<br>
				<a href="#" style="text-decoration: underline;" id="btnToLogin"><%= __('Login to existing account') %></a>
			</div>
		</div>
	</form>
	<button class="btn-close" onclick="Launcher.sendCommand('close');">Close</button>
</div>
<!--/wrap-->
</body>
</html>