<div class="main">
	<div class="text-light well" style="margin-bottom: 10px;">
		<div class="row well-small">
			<div class="item-icon-block">
				<img src="/public/shop/images/tera-icons/<%= product.icon %>.png" class="icon_grade_<%= product.rareGrade %> item-icon" alt=""">
				<img src="/public/shop/images/icons/icon_grade_<%= product.rareGrade %>.png" class="item-icon-grade" alt="">
				<%_ if (product.tag !== null) { _%>
				<img src="/public/shop/images/icons/icon_tag_<%= product.tag %>.png" class="item-icon-tag" alt="">
				<%_ } _%>
			</div>
			<div class="text-block text-light" style="width: 520px;">
				<h5 class="item_grade_<%= product.rareGrade %>">
					<%- product.title || __("[unknown]") %>
					<%_ if (product.discount > 0) { _%>
					<span class="badge discount-badge"><%= __("%s% off", product.discount) %></span>
					<%_ } _%>
				</h5>
				<small><%- helpers.formatStrsheet(product.description) %></small>
			</div>
			<div class="text-right text-light">
			<%_ if (back !== false) { _%>
				<a href="#" class="btn btn2" id="back"><i class="fas fa-angle-double-left"></i> <%= __("Back") %>&nbsp;</a>
			<%_ } _%>
			</div>
		</div>
		<hr>
		<%_ if (product.tradable) { _%>
		<%= __("Can be trade with other players.") %><br>
		<%_ } else { _%>
		<%= __("Cannot be transferred to other players.") %><br>
		<%_ } _%>
		<%_ if (!product.warehouseStorable) { _%>
		<%= __("Can't put it in the warehouse.") %><br>
		<%_ } _%>
		<%_ if (product.requiredGender === "female") { _%>
		<%= __("For female characters only.") %><br>
		<%_ } _%>
		<%_ if (product.requiredGender === "male") { _%>
		<%= __("For male characters only.") %><br>
		<%_ } _%>
		<%_ if (product.requiredRace.length > 0) { _%>
		<%= __("For races") %>: <%= product.requiredRace.map(race => __(race)).join(", ") %><br>
		<%_ } _%>
		<%_ if (product.requiredClass.length > 0) { _%>
		<%= __("For classes") %>: <%= product.requiredClass.map(rclass => __(rclass)).join(", ") %><br>
		<%_ } _%>
		<%_ if (product.requiredLevel > 1) { _%>
		<%= __("Minimum character level") %>: <%= product.requiredLevel %>.<br>
		<%_ } _%>
		<%_ if (product.thumbnail) { _%>
		<br><a href="#" class="thumbnail" style="max-width: 280px;"><img src="/public/shop/images/screenshots/<%= product.thumbnail %>.jpg" alt="screenshot" style="max-height: 175px;"></a>
		<%_ } _%>
		<%_ if (items.length > 0) { _%>
		<br><table class="table" style="margin-bottom: 0;">
			<%_ items.forEach(item => { _%>
			<tr>
				<td style="width: 30px;">
					<div class="item-icon-block2">
						<img src="/public/shop/images/tera-icons/<%= item.icon %>.png" class="icon_grade_<%= item.rareGrade %> item-icon2" alt="">
						<img src="/public/shop/images/icons/icon_grade_<%= item.rareGrade %>.png" class="item-icon-grade2" alt="">
					</div>
				</td>
				<td class="name">
					<span class="item_grade_<%= item.rareGrade %>"><%- item.string || __("[unknown]") %></span> &ndash; <%- item.boxItemCount %> <%= __("pc.") %>
				</td>
			</tr>
			<%_ }) _%>
		</table>
		<%_ } _%>
		<%_ if (conversions.length > 0) { _%>
		<hr><%= __("Possible items") %>:<br>
		<br><table class="table" style="margin-bottom: 0;">
			<%_ conversions.forEach(conversion => { _%>
			<tr>
				<td style="width: 30px;">
					<div class="item-icon-block2">
						<img src="/public/shop/images/tera-icons/<%= conversion.icon %>.png" class="icon_grade_<%= conversion.rareGrade %> item-icon2" alt="">
						<img src="/public/shop/images/icons/icon_grade_<%= conversion.rareGrade %>.png" class="item-icon-grade2" alt="">
					</div>
				</td>
				<td class="name">
					<span class="item_grade_<%= conversion.rareGrade %>"><%- conversion.string || __("[unknown]") %></span>
				</td>
			</tr>
			<%_ }) _%>
		</table>
		<%_ } _%>
		<hr>
		<div class="row buy-info white-text">
			<div class="span9 buy-block-left">
				<div class="buy-description">
					<%- __("Click the &quot;Buy&quot; button to get the item") %>:<br>
					&ndash; <b class="item_grade_<%= product.rareGrade %>"><%- product.title %></b> <small>&#10005;</small> <b class="quantity-value">1</b>
				</div>
				<div>
					<%- __("Your account will be debited") %>: <b class="price-value gold2"><%= product.price %></b> <i class="fas fa-coins gold2"></i><br>
					<%- __("The item will appear in the &quot;Item Claim&quot; window.") %><br>
					<%- __("You can open it from the main menu in the &quot;Shop&quot; section the &quot;Item Claim&quot; option.") %>
				</div>
			</div>
			<div class="span3 buy-block-right" id="buy_block">
				<div id="buy_available" style="margin-top: 10px;">
					<%= __("Your price") %>: <span class="gold"><strong class="price-value"><%= product.price %></strong> <i class="fas fa-coins"></i></span><br>
					<input id="quantity" type="number" value="1" min="1" max="99" step="1" class="quantity"> <button class="btn btn-large btn-danger" href="#" id="buy"><%= __("Buy") %></a>
				</div>
				<div id="buy_inprogress" style="display: none; margin-top: 45px;">
					<%= __("Purchase in progress") %>...
				</div>
				<div id="buy_nocoins" style="display: none; margin-top: 12px;">
					<%= __("You don't have enough funds to buy.") %><br><br>
					<span class="gold"><strong class="price-value"><%= product.price %></strong> <i class="fas fa-coins"></i></span>
				</div>
				<div id="buy_success" style="display: none; margin-top: 12px;">
					<%= __("You have success purchased an item.") %><br><br>
					<%= __("Spent") %>: <span class="gold"><strong class="price-value"><%= product.price %></strong> <i class="fas fa-coins"></i></span>
				</div>
				<div id="buy_error" style="display: none; margin-top: 20px;">
					<%= __("An error occurred while purchasing the product") %>: 
				</div>
			</div>
		</div>
	</div>
</div>
<%_ if (search) { _%>
<script type="text/javascript">
	var backParams = { search: "<%= search %>" };
</script>
<%_ } else { _%>
<script type="text/javascript">
	var backParams = { category: "<%= product.categoryId %>" };
</script>
<%_ } _%>
<script type="text/javascript">
	$(document).ready(function() {
		function purchaseProduct(productId, quantity) {
			$('#buy_available').hide();
			$('#buy_inprogress').show();
			shopPurchaseAction(productId, quantity, function(result) {
				$('#buy_inprogress').hide();
				if (result.ReturnCode == 0) {
					loadAccountInfo();
					$('#buy_success').show();
				} else if (result.ReturnCode == 1000) {
					$('#buy_available').hide();
					$('#buy_nocoins').show();
				} else {
					$('#buy_error').show().append(' #' + result.ReturnCode);
				}
			});
		}
		var quantity = 1;
		$(".quantity-value").html(quantity);
		$(".price-value").html(<%= product.price %> * quantity);
		$("#quantity").change(function() {
			quantity = $(this).val();
			if (quantity < 1) quantity = 1;
			if (quantity > 99) quantity = 99;
			$(this).val(quantity);
			$(".quantity-value").html(quantity);
			$(".price-value").html(<%= product.price %> * quantity);
			if (parseInt($('#shop_balance').html()) < parseInt('<%= product.price %>') * quantity) {
				$('#buy').prop("disabled", true);
			} else {
				$('#buy').prop("disabled", false);
			}
		})
		if (parseInt($('#shop_balance').html()) < parseInt('<%= product.price %>') * quantity) {
			$('#buy_available').hide();
			$('#buy_nocoins').show();
		}
		$('#buy').click(function() {
			purchaseProduct(<%= product.id %>, quantity);
		});
		$('#back').click(backToCatalog);
		$('a.thumbnail').click(function(e) {
			e.preventDefault();
			$('#image-modal .modal-body img').attr('src', $(this).find('img').attr('src'));
			$("#image-modal").modal('show');
		});
		$('#image-modal .modal-body img').click(function() {
			$("#image-modal").modal('hide');
		});
		$('input[type="number"]').numberInput();
	});
</script>