<%_
const founder = ["334", "434", "534"].filter(b => Object.keys(benefits).includes(b));
const premium = ["333", "433", "533", "500", "520", "701"].filter(b => Object.keys(benefits).includes(b));
const pcClub = ["800", "801", "802", "803", "1000"].filter(b => Object.keys(benefits).includes(b));
_%>
<div class="main hero-unit white-text">
	<h2><%= __("Welcome!") %></h2><hr>
	<%= __("You are playing on the server") %>: <b><%= server.get("nameString") %></b><br>
	<%_ if (premium.length) { _%>
	<%- __("Premium status account") %>: <b><%= __("Yes") %></b> (<b><%= moment(benefits[premium[0]]).diff(moment(), "days")  %></b> <%= __("days left") %>)<br>
	<%_ } else { _%>
	<%- __("Premium status account") %>: <b><%= __("No") %></b><br>
	<%_ } _%>
	<%_ if (pcClub.length) { _%>
	<%- __("PC Club account") %>: <b><%= __("Yes") %></b> (<b><%= moment(benefits[pcClub[0]]).diff(moment(), "days")  %></b> <%= __("days left") %>)<br>
	<%_ } else { _%>
	<%- __("PC Club account") %>: <b><%= __("No") %></b><br>
	<%_ } _%>
	<%- __("Founder account") %>: <b><%= founder.length ? __("Yes") : __("No") %></b>
</div>
<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<%_ carousel.forEach((item, i) => { _%>
		<div class="item<%= i == 0 ? " active" : "" %>">
			<a href="#" data-id="<%= item.productId %>" class="carousel-item"><img src="<%= item.slide %>" alt="" class="img-rounded" style="width: 100%;"></a>
		</div>
		<% }) %>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<script type="text/javascript">
	$(function() {
		$("#myCarousel").carousel();
		$("#myCarousel .carousel-item").click(function () {
			if ($(this).data("id")) {
				loadContent("Product", { id: $(this).data("id"), back: false });
			}
		});
	});
</script>