<% const founder = ["334", "434", "534"].filter(b => Object.keys(benefits).includes(b)) %>
<% const premium = ["333", "433", "533", "500", "520", "701"].filter(b => Object.keys(benefits).includes(b)) %>
<% const pcClub = ["800", "801", "802", "803", "1000"].filter(b => Object.keys(benefits).includes(b)) %>
<div class="main hero-unit white-text">
	<h2><%= __("Welcome!") %></h2><hr>
	<%= __("You are playing on the server") %>: <b><%= server.get("nameString") %></b><br>
	<% if (premium.length) { %>
	<%- __("Premium status account") %>: <b><%= __("Yes") %></b> (<b><%= moment(benefits[premium[0]]).diff(moment(), "days")  %></b> <%= __("days left") %>)<br>
	<% } else { %>
	<%- __("Premium status account") %>: <b><%= __("No") %></b><br>
	<% } %>
	<% if (pcClub.length) { %>
	<%- __("PC Club account") %>: <b><%= __("Yes") %></b> (<b><%= moment(benefits[pcClub[0]]).diff(moment(), "days")  %></b> <%= __("days left") %>)<br>
	<% } else { %>
	<%- __("PC Club account") %>: <b><%= __("No") %></b><br>
	<% } %>
	<%- __("Founder account") %>: <b><%= founder.length ? __("Yes") : __("No") %></b>
</div>
<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="/public/shop/images/slide-01.jpg" alt="" class="img-rounded" style="width: 100%;">
		</div>
		<div class="item">
			<img src="/public/shop/images/slide-02.jpg" alt="" class="img-rounded" style="width: 100%;">
		</div>
		<div class="item">
			<img src="/public/shop/images/slide-03.jpg" alt="" class="img-rounded" style="width: 100%;">
		</div>
		<div class="item">
			<img src="/public/shop/images/slide-04.jpg" alt="" class="img-rounded" style="width: 100%;">
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<script type="text/javascript">
	$(function() {
		$('#myCarousel').carousel();
	});
</script>