<%_
const founder = shopConfig.founderBenefits.filter(b => Object.keys(benefits).includes(b));
const premium = shopConfig.premiumBenefits.filter(b => Object.keys(benefits).includes(b));
const pcClub = shopConfig.pcClubBenefits.filter(b => Object.keys(benefits).includes(b));
_%>
<div class="main hero-unit white-text">
	<h2><%= __("Welcome!") %></h2><hr>
	<%= __("You are playing on the server") %>: <b><%= server.get("nameString") %></b><br>
	<%_ if (premium.length) { _%>
	<%- __("Premium status account") %>: <b><%= __("Yes") %></b> (<%- __("%s days left", `<b>${moment(benefits[premium[0]]).diff(moment(), "days")}</b>`) %>)<br>
	<%_ } else { _%>
	<%- __("Premium status account") %>: <b><%= __("No") %></b><br>
	<%_ } _%>
	<%_ if (pcClub.length) { _%>
	<%- __("PC Club account") %>: <b><%= __("Yes") %></b> (<%- __("%s days left", `<b>${moment(benefits[pcClub[0]]).diff(moment(), "days")}</b>`) %>)<br>
	<%_ } else { _%>
	<%- __("PC Club account") %>: <b><%= __("No") %></b><br>
	<%_ } _%>
	<%- __("Founder account") %>: <b><%= founder.length ? __("Yes") : __("No") %></b>
</div>
<div id="carousel" class="carousel slide">
	<div class="carousel-inner">
		<%_ shopConfig.welcomeCarousel.forEach((item, i) => { _%>
		<div class="item<%= i == 0 ? " active" : "" %>">
			<a href="#" data-id="<%= item.productId %>" class="carousel-item"><img src="<%= item.slide %>" alt="" class="img-rounded" style="width: 100%;"></a>
		</div>
		<% }) %>
	</div>
	<a class="left carousel-control" href="#carousel" data-slide="prev" style="display: none;">&lsaquo;</a>
	<a class="right carousel-control" href="#carousel" data-slide="next" style="display: none;">&rsaquo;</a>
</div>
<script type="text/javascript">
	$(function() {
		$("#carousel").carousel();
		$("#carousel .carousel-item").click(function () {
			if ($(this).data("id")) {
				loadContentProduct({ id: $(this).data("id"), back: false });
			}
		});
		$("#carousel").imagesLoaded(function() {
			$(".carousel-control").show();
		});
	});
</script>